{{> head}}



    {{> navbar}}


    <!--creamos una fila -->
    <div class"row" style="text-align:center" ">

        <!--creamos una columna -->
        <div class="col">
            <h1>KATRIEL PERFIL</h1>    

        </div>
        <!--creamos una columna -->
        <div class="col">

           <img src="diseño/imagenes/yo.jpg" class="img-thumbnail" style="height:250px  ">
        </div>  


    </div>


{{> footer}}    