<!-- poner ! seguido de tab y te crea todo el molde-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--referenciamos un archivo de css -->
    <link rel="stylesheet" href="diseño/css/bootstrap.min.css">
    <!--referenciamos nuestro archivos de estilos personales-->
    <link rel="stylesheet" href="diseño/css/style.css">


    <title>Pagina Web | {{nombre}}</title>
</head>

<body>